{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <h1 class="display-2 justify-content-center">KoalaGo</h1>
    </div>
    <form class="form-inline md-form mr-auto mb-4 justify-content-center" method="post">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="queryKeyword" id="queryKeyword"  required>
        <button type="submit" class="btn btn-primary">Go</button>
    </form>
</div>
{% endblock %}